body{
	background-color:#ccc;
}

img{
	width:15em;
	
}

.price{
	font-size:1.6em;
	position: absolute;
	top:0px;
	right: -10px;
	padding: 10px;
}
 .price sup{
	font-weight: normal;
	font-size: 1em;
	position:relative;
	top:1px;
}
 span.glyphicon{
	margin-right: 10px;
}


#logo{
	width:200px;
	height:50px;
	margin-top:-13px;
}
.busqueda{
	float:right;
}

.productos li{
	padding:0.9em;
}

.nombreProducto{
	text-decoration:none;
	font-size:1.4em;
	color:black;
	text-transform:uppercase;
}
.nombreProducto:hover{
	color:black;
	text-decoration:none;
}

.productos p{
	padding-left:215px;
	
}

.boton{
	width:100%;
	margin-top:5%;
	margin-left:1.5%;
}
.centrar{
	text-align:center;
}

ul.unstyled{
	list-style: none;
	padding:0;
}

.ajustarSpanIniciarSesion{
	margin-top:0.6em;
	padding-left:0.3em;
}

.derechaInput{
	text-align:right;
}

.underline{
	border-bottom:1px solid black;
	width:100%;
}

.article-body{
	width:80%;
	color:white;
}

#article{
	padding:1.8rem;
}
#article p{
	padding:0.6rem;
	font-family:'Medula One',cursive;
	font-size:1.4rem;
	
}

.titular{
	display:block;
	padding:1.85rem;
	color:white;
	line-height:25px;
	text-align:center;
	background-image:url(../img/courses.jpg);
}

footer{
		background: #333;
		color:#eee;
		font-size: 1.2em;
		padding:20px;
}

footer a{
	color:#fff;
	text-decoration:none;
	line-height: 1.35rem;
	margin-bottom: 1.5rem;
}
footer a:hover{
	color:#0073ff;
	text-decoration:none;
}

footer strong{
	display:block;
	text-transform:uppercase;
	margin-bottom:0.75rem;
}

.center-form {
  width: 330px;
  margin: 10% auto;
}

.panel-heading{
	text-align:center;
}
.panel-body{
	text-align:center;
}
#cursos{
	margin-bottom:0.8em;
	max-width:280px;
	height:120px;
	border-radius:10em;
}

#productos{
	max-width:133px;
}

#servicios{
	max-width:130px;
	max-height:125px;
	margin-bottom:0.8em;
}
.crafted{
		text-align:right;
		margin-top:0.4rem;
	}

@media (max-width: 360px)  {
	.crafted{
		text-align:left;
	}
	.productos p{
		padding-left:0px;
	}
	#logo{
		position:relative;
	}
	img{
		width:7em;
	}
	
	#añadirCarrito{
	position:relative;
	left:0%;
	}
	
}
/*LANDSCAPE PHONE TO PORTRAIT TABLE*/
@media (min-width: 768px){
	
}
/*LARGE DESKTOP*/
@media (max-width: 1200px){
	
}